
<!-- form 1 -->
<div class="modal fade bs-example-modal-lg" id="modal_form" role="alert" data-backdrop="static" data-keyboard="false">
    
    <div class="modal-dialog modal-lg">
        
        <div class="modal-content">
            
            <div class="modal-body">

                <!-- Header -->
                <p style="font-weight: bold; font-size: 18px;">
                    <!-- Title -->
                    <span id="modal_form_titre">
                        <i class="glyphicon glyphicon-info-sign text-info"></i> @ViewBag.Lang.Form
                    </span>
                    <!-- Close bouton -->
                    <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true" style="font-weight: bold;">
                        <i class="fa fa-times"></i>
                    </button>
                </p>

                <!-- Body -->
                <div id="modal_form">

                    <form method="post" id="form" name="form" data-parsley-validate>

                        <div class="row">

                            <!-- Id -->
                            <input type="hidden" id="form_id" name="id" value="0" />

                            <!-- ligne -->
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_code">Code :</label>
                                    <input class="form-control" type="text" id="form_code" name="code" placeholder="Code.*" required />
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_libelle">@ViewBag.Lang.Name :</label>
                                    <input class="form-control" type="text" id="form_libelle" name="libelle" placeholder="@ViewBag.Lang.Name .*" required />
                                </div>
                            </div>
                            <!-- ./ligne -->

                            <!-- ligne -->
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_montant_signature">@ViewBag.Lang.Signing_amount :</label>
                                    <input class="form-control gb-temp-mask-nombre" type="text" id="form_montant_signature" name="montant_signature" placeholder="XXX XXX XXX ..." required />
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_limite_decouvert_client">@ViewBag.Lang.Customer_overdraft_limit :</label>
                                    <input class="form-control gb-temp-mask-nombre" type="text" id="form_limite_decouvert_client" name="limite_decouvert_client" placeholder="XXX XXX XXX ..." required />
                                </div>
                            </div>
                            <!-- ./ligne -->

                            <!-- ligne -->
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_debit_max_client">@ViewBag.Lang.Customer_max_debit :</label>
                                    <input class="form-control gb-temp-mask-nombre" type="text" id="form_debit_max_client" name="debit_max_client" placeholder="XXX XXX XXX ..." required />
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_credit_max_client">@ViewBag.Lang.Customer_max_credit :</label>
                                    <input class="form-control gb-temp-mask-nombre" type="text" id="form_credit_max_client" name="credit_max_client" placeholder="XXX XXX XXX ..." required />
                                </div>
                            </div>
                            <!-- ./ligne -->

                            <!-- ligne -->
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_montant_max_ligne_credit">@ViewBag.Lang.Line_of_credit_max_amount :</label>
                                    <input class="form-control gb-temp-mask-nombre" type="text" id="form_montant_max_ligne_credit" name="montant_max_ligne_credit" placeholder="XXX XXX XXX ..." required />
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_montant_limite_pret">@ViewBag.Lang.Loan_limit_amount :</label>
                                    <input class="form-control gb-temp-mask-nombre" type="text" id="form_montant_limite_pret" name="montant_limite_pret" placeholder="XXX XXX XXX ..." required />
                                </div>
                            </div>
                            <!-- ./ligne -->

                        </div>

                    </form>

                </div>

                <!--Alert Message -->
                <div id="gbAlert"></div>

            </div>

            <div class="modal-footer">
                
                <!-- Bouton de fermiture du modal -->
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i> @ViewBag.Lang.Close
                </button>
                
                <!-- Bouton d'enregistrement du formulaire -->
                <button class="btn btn-default btn-success pull-right" id="btn-enregistrer" type="submit" form="form"
                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> @ViewBag.Lang.Process ...">
                    <i class="fa fa-check"></i> @ViewBag.Lang.Save
                </button>

            </div>

        </div>

    </div>

</div>