@{
    Layout = null;
}

<!-- iCheck -->
<link href="@Url.Content("~/Plugins/iCheck/skins/flat/blue.css")" rel="stylesheet" />

<script type="text/javascript">

    $GB_DONNEE = JSON.parse('@Html.Raw(ViewBag.GB_DONNEE)');  

</script>

<!-- form validation -->
<script src="@Url.Content("~/Plugins/parsley/parsley.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Plugins/parsley/i18n/" + (ViewBag.Lang.code == "en-US" ? "en" : "fr") + ".js")" type="text/javascript"></script>
<script src="@Url.Content("~/Plugins/parsley/gb.parsley.js")" type="text/javascript"></script>
<!-- icheck -->
<script src="@Url.Content("~/Plugins/iCheck/icheck.min.js")" type="text/javascript"></script>
<!-- Script de la page -->
<script src="@Url.Content("~/Resources/js/Views/" + ViewBag.Id_page + ".js")" type="text/javascript"></script>

<div class="row">

    @*
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="page-title">

            <h3>
                @Html.Raw(ViewBag.Lang.Description_page)
            </h3>

        </div>

    </div>
    *@

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div role="tabpanel" data-example-id="togglable-tabs">

            <ul class="nav nav-tabs bar_tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#tab_content1" id="gestion-role" role="tab" data-toggle="tab" aria-expanded="true">
                        <i class="fa fa-square"></i> @ViewBag.Lang.Rule_Management
                    </a>
                </li>

                <li role="presentation" class="">
                    <a href="#tab_content2" role="tab" id="configuration-role" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-cubes"></i> @ViewBag.Lang.Privilege_management
                    </a>
                </li>

            </ul>

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="gestion-role">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="x_panel">

                            <div class="x_title">

                                <!-- Boutons d'actions -->
                                <div class="pull-left">

                                    <button class="btn btn-default" id="btn-ajouter" data-toggle="modal" data-target=".bs-example-modal-lg" type="button">
                                        <i class="fa fa-plus"></i> <span class="hidden-xs">@ViewBag.Lang.New</span>
                                    </button>
                                    <button class="btn btn-default" id="btn-supprimer" type="button"
                                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <span class='hidden-xs'>@ViewBag.Lang.Process ...</span>">
                                        <i class="fa fa-remove text-danger"></i> <span class="hidden-xs">@ViewBag.Lang.Delete</span>
                                    </button>
                                    <button class="btn btn-default" id="btn-imprimmer" type="button"
                                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <span class='hidden-xs'>@ViewBag.Lang.Process ...</span>">
                                        <i class="fa fa-print text-info"></i> <span class="hidden-xs">@ViewBag.Lang.Print</span>
                                    </button>

                                </div>

                                <div class="clearfix"></div>

                            </div>

                            <div class="x_content">

                                <!-- Table des données -->
                                <table id="table-donnee" class="table table-condensed jambo_table bulk_action dt-responsive nowrap" cellspacing="0" width="100%;">

                                    <thead class="headings">
                                        <tr>
                                            <th width="20px">
                                                <input type="checkbox" id="check-all" class="flat">
                                            </th>
                                            <th class="column-title">Code</th>
                                            <th class="column-title">@ViewBag.Lang.Name_french</th>
                                            <th class="column-title">@ViewBag.Lang.Name_english</th>
                                            <th class="column-title last" width="50px">Action</th>
                                            <th class="bulk-actions" colspan="4">
                                                <a class="antoo" style="color:#fff; font-weight:500;">
                                                    Selection(s) ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>

                                </table>

                            </div>

                        </div>

                    </div>

                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="configuration-role">
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="x_panel">

                            <div class="x_title">

                                <!-- Boutons d'actions -->
                                <div class="pull-left">

                                    <div class="btn-group">
                                        <button data-toggle="dropdown" id="btn-autorisation-ajouter" class="btn btn-default dropdown-toggle gb-temps-btn-action-menu" type="button" aria-expanded="false">
                                            <i class="fa fa-plus"></i> <span class="hidden-xs">@ViewBag.Lang.Add</span> <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="1,1">
                                                    <i class="fa fa-lock"></i> @ViewBag.Lang.Enable
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="1,0">
                                                    <i class="fa fa-unlock-alt"></i> @ViewBag.Lang.Disable
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" id="btn-autorisation-modifier" class="btn btn-default dropdown-toggle gb-temps-btn-action-menu" type="button" aria-expanded="false">
                                            <i class="fa fa-refresh"></i> <span class="hidden-xs">@ViewBag.Lang.Modify</span> <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="2,1">
                                                    <i class="fa fa-lock"></i> @ViewBag.Lang.Enable
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="2,0">
                                                    <i class="fa fa-unlock-alt"></i> @ViewBag.Lang.Disable
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" id="btn-autorisation-supprimer" class="btn btn-default dropdown-toggle gb-temps-btn-action-menu" type="button" aria-expanded="false">
                                            <i class="fa fa-remove"></i> <span class="hidden-xs">@ViewBag.Lang.Delete</span> <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="3,1">
                                                    <i class="fa fa-lock"></i> @ViewBag.Lang.Enable
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="3,0">
                                                    <i class="fa fa-unlock-alt"></i> @ViewBag.Lang.Disable
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" id="btn-autorisation-imprimmer" class="btn btn-default dropdown-toggle gb-temps-btn-action-menu" type="button" aria-expanded="false">
                                            <i class="fa fa-print"></i> <span class="hidden-xs">@ViewBag.Lang.Print</span> <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="4,1">
                                                    <i class="fa fa-lock"></i> @ViewBag.Lang.Enable
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="4,0">
                                                    <i class="fa fa-unlock-alt"></i> @ViewBag.Lang.Disable
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" id="btn-autorisation-lister" class="btn btn-default dropdown-toggle gb-temps-btn-action-menu" type="button" aria-expanded="false">
                                            <i class="fa fa-list"></i> <span class="hidden-xs">@ViewBag.Lang.Listing</span> <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="5,1">
                                                    <i class="fa fa-lock"></i> @ViewBag.Lang.Enable
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="gbtemp" name="5,0">
                                                    <i class="fa fa-unlock-alt"></i> @ViewBag.Lang.Disable
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="pull-right">

                                    <button class="btn btn-success" id="btn-autorisation-enregistrer" type="button"
                                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <span class='hidden-xs'>@ViewBag.Lang.Process ...</span>">
                                            <i class="fa fa-check"></i> <span class="hidden-xs" style="color: white;font-weight: bold;">@ViewBag.Lang.Save</span>    
                                    </button>

                                </div>

                                <div class="clearfix"></div>

                            </div>

                            <!-- Formulaire de recherche des rôles -->
                            <div class="x_title">

                                <form method="post" id="form-configuration" name="form" data-parsley-validate>

                                    <fieldset>
                                        <!-- Libellé du fieldset -->
                                        <legend>
                                            <i class="fa fa-search"></i> @ViewBag.Lang.Search_a_role
                                        </legend>

                                        <div class="row">

                                            <div class="col-xs-12 col-lg-3">
                                                <div class="form-group">
                                                    <select class="form-control" name="id_role" id="form_role_code" onchange="$('#form_role_libelle').val($('#form_role_code').val()); $('.gb-temps-btn-action-menu').prop('disabled', true); $('#form-configuration').submit();" required>
                                                        @Html.Raw(ViewBag.donnee.HTML_Select_code_role)
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-lg-3">
                                                <div class="form-group">
                                                    <select class="form-control" name="libelle" id="form_role_libelle" onchange="$('#form_role_code').val($('#form_role_libelle').val()); $('.gb-temps-btn-action-menu').prop('disabled', true); $('#form-configuration').submit();" required>
                                                        @Html.Raw(ViewBag.donnee.HTML_Select_code_libelle)
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-lg-6">
                                                <button class="btn btn-info gb-temps-btn-action-menu" id="btn-autorisation-ajouter-menu" data-toggle="modal" data-target=".gb-temp-modal-menu" type="button">
                                                    <i class="fa fa-plus"></i> @ViewBag.Lang.New_menus
                                                </button>
                                                <button class="btn btn-danger gb-temps-btn-action-menu" id="btn-autorisation-supprimer-menu" type="button"
                                                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <span class='hidden-xs'>@ViewBag.Lang.Process ...</span>">
                                                    <i class="fa fa-remove"></i> @ViewBag.Lang.Delete_menus
                                                </button>
                                                @*
                                                 <button class="btn btn-default pull-right" id="btn-configuration-rechercher-role" type="submit"
                                                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <span class='hidden-xs'>@ViewBag.Lang.Process ...</span>">
                                                    <i class="fa fa-list-ul"></i> @ViewBag.Lang.Display
                                                </button>
                                                *@
                                            </div>

                                        </div>

                                    </fieldset>

                                </form>

                                <div class="clearfix"></div>

                            </div>

                            <div class="x_content">

                                <!-- Table des données -->
                                <table id="table-configuration-donnee" class="table table-condensed jambo_table bulk_action dt-responsive nowrap" cellspacing="0" width="100%;">

                                    <thead class="headings">
                                        <tr>
                                            <th width="20px">
                                                <input type="checkbox" id="check-configuration-all" class="flat">
                                            </th>
                                            <th class="column-title">Code menu</th>
                                            <th class="column-title">@ViewBag.Lang.Name menu</th>
                                            <th class="column-title">@ViewBag.Lang.Add</th>
                                            <th class="column-title">@ViewBag.Lang.Modify</th>
                                            <th class="column-title">@ViewBag.Lang.Delete</th>
                                            <th class="column-title">@ViewBag.Lang.Print</th>
                                            <th class="column-title last">@ViewBag.Lang.Listing</th>
                                            <th class="bulk-actions" colspan="7">
                                                <a class="antoo" style="color:#fff; font-weight:500;">
                                                    Selection(s) ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>

                                </table>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Formulaire modals -->
    @Html.Partial("Role/_Modals")

</div>