@{
    Layout = null;
}

<script type="text/javascript">

    $GB_DONNEE = JSON.parse('@Html.Raw(ViewBag.GB_DONNEE)');  

</script>

<!-- form validation -->
<script src="@Url.Content("~/Plugins/parsley/parsley.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Plugins/parsley/i18n/" + (ViewBag.Lang.code == "en-US" ? "en" : "fr") + ".js")" type="text/javascript"></script>
<script src="@Url.Content("~/Plugins/parsley/gb.parsley.js")" type="text/javascript"></script>
<!-- Script de la page -->
<script src="@Url.Content("~/Resources/js/Views/" + ViewBag.Id_page + ".js")" type="text/javascript"></script>

<div class="row">

    @*
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="page-title">

            <h3>
                @Html.Raw(ViewBag.Lang.Description_page)
            </h3>

        </div>

    </div>
    *@

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">

            <div class="x_title">

                <!-- Boutons d'actions -->
                <div class="pull-left">

                    <button class="btn btn-default" id="btn-modifier" type="submit" form="form">
                        <i class="fa fa-refresh"></i> <span class="hidden-xs">@ViewBag.Lang.Modify</span>
                    </button>
                    <button class="btn btn-default" id="btn-imprimmer" type="button"
                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <span class='hidden-xs'>@ViewBag.Lang.Process ...</span>">
                        <i class="fa fa-print text-info"></i> <span class="hidden-xs">@ViewBag.Lang.Print</span>
                    </button>

                </div>

                <div class="clearfix"></div>

            </div>

            <div class="x_content">

                <form method="post" id="form" name="form" data-parsley-validate>

                    <div class="row">

                        <!-- Id -->
                        <input type="hidden" id="form_id" name="id" value="0" />

                        <!-- ligne -->
                        <div class="col-lg-12">
                            <legend>
                                <i class="fa fa-cogs"></i> @ViewBag.Lang.General_parameters
                            </legend>
                        </div>
                        <!-- ./ligne -->

                        <!-- ligne -->
                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_nombre_ligne_historique_compte">@ViewBag.Lang.Statement_page_count :</label>
                                <input class="form-control" type="number" min="0" id="form_nombre_ligne_historique_compte" name="nombre_ligne_historique_compte" required />
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_utilisation_chequier">@ViewBag.Lang.Use_check_booklet :</label>
                                <select class="form-control" id="form_utilisation_chequier" name="utilisation_chequier" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_nombre_jour_avant_apuration_credit">@ViewBag.Lang.Number_day_before_write_off :</label>
                                <input class="form-control" type="number" min="0" id="form_nombre_jour_avant_apuration_credit" name="nombre_jour_avant_apuration_credit" required />
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_periode_dormante">@ViewBag.Lang.Dormant_period :</label>
                                <input class="form-control" type="number" min="0" id="form_periode_dormante" name="periode_dormante" required />
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_periode_litige">@ViewBag.Lang.Litigation_period :</label>
                                <input class="form-control" type="number" min="0" id="form_periode_litige" name="periode_litige" required />
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_utilisation_version_centrale">@ViewBag.Lang.Use_central_version :</label>
                                <select class="form-control" id="form_utilisation_version_centrale" name="utilisation_version_centrale" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>
                        <!-- ./ligne -->

                        <!-- ligne -->
                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_periode_de_non_paiement">@ViewBag.Lang.No_payment_period :</label>
                                <input class="form-control" type="number" min="0" id="form_periode_de_non_paiement" name="periode_de_non_paiement" required />
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_controler_le_nombre_de_pret">@ViewBag.Lang.Control_number_of_loans :</label>
                                <select class="form-control" id="form_controler_le_nombre_de_pret" name="controler_le_nombre_de_pret" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_controler_le_nombre_de_comptes">@ViewBag.Lang.Count_account :</label>
                                <select class="form-control" id="form_controler_le_nombre_de_comptes" name="controler_le_nombre_de_comptes" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_tva">@ViewBag.Lang.VAT :</label>
                                <select class="form-control" id="form_tva" name="tva" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_controler_session">@ViewBag.Lang.Control_session :</label>
                                <select class="form-control" id="form_controler_session" name="controler_session" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_duree_session">@ViewBag.Lang.Session_duration :</label>
                                <input class="form-control" type="number" min="0" id="form_duree_session" name="duree_session" required />
                            </div>
                        </div>
                        <!-- ./ligne -->

                        <!-- ligne -->  
                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_sms_banking">@ViewBag.Lang.SMS_banking :</label>
                                <select class="form-control" id="form_sms_banking" name="sms_banking" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_nombre_de_jour_ouverture_back_date">@ViewBag.Lang.Open_back_date (@ViewBag.Lang.Days) :</label>
                                <input class="form-control" type="number" min="0" id="form_nombre_de_jour_ouverture_back_date" name="nombre_de_jour_ouverture_back_date" required />
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_methode_de_post_interet_reserver">@ViewBag.Lang.Reserve_interest_post_method :</label>
                                <select class="form-control" id="form_methode_de_post_interet_reserver" name="methode_de_post_interet_reserver" required>
                                    @Html.Raw(ViewBag.donnee.HTML_methode_de_post_interet_reserver)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_utilisation_litige_methode_cobac">@ViewBag.Lang.Use_cobac_litigation_method :</label>
                                <select class="form-control" id="form_utilisation_litige_methode_cobac" name="utilisation_litige_methode_cobac" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_modifier_les_attributs_client_dans_la_branch">@ViewBag.Lang.Modify_custom_attributes_in_branch :</label>
                                <select class="form-control" id="form_modifier_les_attributs_client_dans_la_branch" name="modifier_les_attributs_client_dans_la_branch" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_conter_le_nombre_de_page_dans_historique">@ViewBag.Lang.Count_page_number_statement :</label>
                                <select class="form-control" id="form_conter_le_nombre_de_page_dans_historique" name="conter_le_nombre_de_page_dans_historique" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>
                        <!-- ./ligne -->

                        <!-- ligne -->
                        <div class="col-lg-12">
                            <legend>
                                <i class="fa fa-cogs"></i> @ViewBag.Lang.Night_run_posting_options
                            </legend>
                        </div>
                        <!-- ./ligne -->

                        <!-- ligne -->
                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_mise_a_jour_position_client">@ViewBag.Lang.Update_customer_position :</label>
                                <select class="form-control" id="form_mise_a_jour_position_client" name="mise_a_jour_position_client" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_poster_credit">Post credit :</label>
                                <select class="form-control" id="form_poster_credit" name="poster_credit" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_poster_litige_pret">@ViewBag.Lang.Post_loan_litigation :</label>
                                <select class="form-control" id="form_poster_litige_pret" name="poster_litige_pret" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_poster_collection_locale">@ViewBag.Lang.Post_local_collection :</label>
                                <select class="form-control" id="form_poster_collection_locale" name="poster_collection_locale" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_western_union">Western Union :</label>
                                <select class="form-control" id="form_western_union" name="western_union" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-2">
                            <div class="form-group">
                                <label for="form_poster_bon_de_caisse_et_depot_a_terme">@ViewBag.Lang.Post_term_and_time_deposits :</label>
                                <select class="form-control" id="form_poster_bon_de_caisse_et_depot_a_terme" name="poster_bon_de_caisse_et_depot_a_terme" required>
                                    @Html.Raw(ViewBag.donnee.HTML_Non_Oui)
                                </select>
                            </div>
                        </div>
                        <!-- ./ligne -->

                        <!-- ligne -->
                        <div class="col-lg-12">
                            <legend>
                                <i class="fa fa-download"></i> @ViewBag.Lang.Backup
                            </legend>
                        </div>
                        <!-- ./ligne -->

                        <!-- ligne -->
                        <div class="col-xs-12 col-lg-4">
                            <div class="form-group">
                                <label for="form_methode_de_sauvegarde">@ViewBag.Lang.Backup_method :</label>
                                <select class="form-control" id="form_methode_de_sauvegarde" name="methode_de_sauvegarde" required>
                                    @Html.Raw(ViewBag.donnee.HTML_methode_de_sauvegarde)
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <label for="form_lien_sauvegarde_numero_1">@ViewBag.Lang.Path_first_backup :</label>
                            <br />
                            <div class="btn-group">
                                <button id="form_lien_sauvegarde_numero_1_btn" class="btn btn-default btn-sm" type="button">
                                    <i class="fa fa-upload"></i> @ViewBag.Lang.Browse
                                </button>
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:;" id="form_lien_sauvegarde_numero_1_btn_delete">
                                            <i class="fa fa-upload"></i> @ViewBag.Lang.Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <span id="form_lien_sauvegarde_numero_1_label" style="padding-left: 5px;">
                                @ViewBag.Lang.Empty ...
                            </span>
                            <!-- fichier -->
                            <input type="file" id="form_lien_sauvegarde_numero_1_fichier" class="hidden-lg" accept="" />
                            <!-- image_statut -->
                            <input type="hidden" id="form_lien_sauvegarde_numero_1" name="lien_sauvegarde_numero_1" value="" />
                        </div>

                        <div class="col-xs-12 col-lg-4">
                            <label for="form_lien_sauvegarde_numero_2">@ViewBag.Lang.Path_last_backup :</label>
                            <br />
                            <div class="btn-group">
                                <button id="form_lien_sauvegarde_numero_2_btn" class="btn btn-default btn-sm" type="button">
                                    <i class="fa fa-upload"></i> @ViewBag.Lang.Browse
                                </button>
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:;" id="form_lien_sauvegarde_numero_2_btn_delete">
                                            <i class="fa fa-upload"></i> @ViewBag.Lang.Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <span id="form_lien_sauvegarde_numero_2_label" style="padding-left: 5px;">
                                @ViewBag.Lang.Empty ...
                            </span>
                            <!-- fichier -->
                            <input type="file" id="form_lien_sauvegarde_numero_2_fichier" class="hidden-lg" accept="" />
                            <!-- image_statut -->
                            <input type="hidden" id="form_lien_sauvegarde_numero_2" name="lien_sauvegarde_numero_2" value="" />
                        </div>
                        <!-- ./ligne -->

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>