@{
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div class="login_form">

    <div class="login-panel panel panel-default">

        <div class="panel-body">

            <form id="auth_form" class="form-label-left" data-parsley-validate>

                <fieldset>

                    <div class="row pb-10">

                        <label style="font-weight: bold;" for="compte" class="control-label col-md-3 col-sm-3 col-xs-12">
                            @(ViewBag.Lang.Login):
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                            <input class="form-control" placeholder="@ViewBag.Lang.Login..." name="compte" id="compte" type="text" value="@ViewBag.Test.compte" required autofocus />
                        </div>

                        <label style="font-weight: bold;" for="mot_de_passe" class="control-label col-md-3 col-sm-3 col-xs-12">
                            @(ViewBag.Lang.Password):
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                            <input class="form-control" placeholder="@(ViewBag.Lang.Password)..." name="mot_de_passe" id="mot_de_passe" type="password" value="@ViewBag.Test.mot_de_passe" required />
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <select class="form-control has-feedback-right" name="langue" id="langue">
                                <option value="1" title="@ViewBag.Lang.French" @Html.Raw((ViewBag.Lang.code != "en-US") ? "selected=\"selected\"" 
                                                                                                                        : string.Empty)>
                                    @ViewBag.Lang.French
                                </option>
                                <option value="0" title="@ViewBag.Lang.English" @Html.Raw((ViewBag.Lang.code == "en-US") ? "selected=\"selected\"" 
                                                                                                                         : string.Empty)>
                                    @ViewBag.Lang.English
                                </option>
                            </select>
                            <img src="~/Resources/images/png/flag/@(ViewBag.Lang.code).png"
                                 class="form-control-feedback right img-responsive" aria-hidden="true"
                                 style="height: 15px; padding-left: 7px; padding-right: 7px" />
                        </div>

                    </div>

                    <button id="btn_authentifier" type="submit" class="btn btn-lg btn-success btn-block"
                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> @ViewBag.Lang.Process ...">
                            <b>
                                @ViewBag.Lang.To_log_in
                            </b>
                    </button>

                </fieldset>

            </form>

        </div>

    </div>

    <div class="well well-sm text-center">
        @Html.Raw(ViewBag.Lang.Copyright)
    </div>

    <div class="text-center">
        <p>
            Version @ViewBag.VERSION_BUILD
        </p>
    </div>

</div>