
<!-- form 1 -->
<div class="modal fade bs-example-modal-lg" id="modal_form" role="alert" data-backdrop="static" data-keyboard="false">
    
    <div id="modal_form_taille" class="modal-dialog">
        
        <div class="modal-content">
            
            <div class="modal-body">

                <!-- Header -->
                <p style="font-weight: bold; font-size: 18px;">
                    <!-- Title -->
                    <span id="modal_form_titre">
                        <i class="glyphicon glyphicon-info-sign text-info"></i> @ViewBag.Lang.Form
                    </span>
                    <!-- Close bouton -->
                    <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true" style="font-weight: bold;">
                        <i class="fa fa-times"></i>
                    </button>
                </p>

                <!-- Body -->
                <div id="modal_form">

                    <form method="post" id="form" name="form" data-parsley-validate>

                        <div class="row">

                            <!-- Id -->
                            <input type="hidden" id="form_id" name="id" value="0" />

                            <!-- ligne -->
                            <div class="col-xs-12 col-lg-12">
                                <div class="form-group">
                                    <label for="form_code">Code :</label>
                                    <input class="form-control" type="text" id="form_code" name="code" placeholder="Code.*" required />
                                </div>
                            </div>
                            <!-- ./ligne -->

                            <!-- ligne -->
                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_libelle_fr">@ViewBag.Lang.Name_french :</label>
                                    <input class="form-control" type="text" id="form_libelle_fr" name="libelle_fr" placeholder="@ViewBag.Lang.Name_french .*" required />
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div class="form-group">
                                    <label for="form_libelle_en">@ViewBag.Lang.Name_english :</label>
                                    <input class="form-control" type="text" id="form_libelle_en" name="libelle_en" placeholder="@ViewBag.Lang.Name_english .*" required />
                                </div>
                            </div>
                            <!-- ./ligne -->

                        </div>

                    </form>

                </div>

                <!--Alert Message -->
                <div id="gbAlert"></div>

            </div>

            <div class="modal-footer">
                
                <!-- Bouton de fermiture du modal -->
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i> @ViewBag.Lang.Close
                </button>
                
                <!-- Bouton d'enregistrement du formulaire -->
                <button class="btn btn-default btn-success pull-right" id="btn-enregistrer" type="submit" form="form"
                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> @ViewBag.Lang.Process ...">
                    <i class="fa fa-check"></i> @ViewBag.Lang.Save
                </button>

            </div>

        </div>

    </div>

</div>